In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
df = pd.read_excel("msa/msamonthly_201911.xls", skiprows=7)[1:]
df

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Monthly Coverage Percent*,Unnamed: 10,Total.1,1 Unit.1,2 Units.1,3 and 4 Units.1,5 Units or More.1,Num of Structures With 5 Units or More.1
1,999.0,10180.0,"Abilene, TX ...",23.0,21.0,2.0,0.0,0.0,0.0,92.0,NaN,313.0,303.0,10.0,0.0,0.0,0.0
2,184.0,10420.0,"Akron, OH ...",38.0,38.0,0.0,0.0,0.0,0.0,67.0,NaN,489.0,487.0,2.0,0.0,0.0,0.0
3,999.0,10500.0,"Albany, GA ...",12.0,12.0,0.0,0.0,0.0,0.0,78.0,NaN,235.0,131.0,0.0,0.0,104.0,5.0
4,440.0,10540.0,"Albany-Lebanon, OR ...",17.0,12.0,0.0,0.0,5.0,1.0,78.0,NaN,541.0,359.0,0.0,0.0,182.0,20.0
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",181.0,108.0,6.0,7.0,60.0,7.0,100.0,NaN,1887.0,1053.0,30.0,48.0,756.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,148.0,49340.0,"Worcester, MA-CT ...",18.0,16.0,2.0,0.0,0.0,0.0,10.0,NaN,219.0,172.0,6.0,0.0,41.0,5.0
365,999.0,49420.0,"Yakima, WA ...",52.0,40.0,6.0,0.0,6.0,1.0,76.0,NaN,823.0,368.0,62.0,23.0,370.0,21.0
366,276.0,49620.0,"York-Hanover, PA ...",11.0,7.0,0.0,4.0,0.0,0.0,15.0,NaN,155.0,96.0,6.0,11.0,42.0,3.0
367,566.0,49660.0,"Youngstown-Warren-Boardman, OH-PA ...",13.0,13.0,0.0,0.0,0.0,0.0,67.0,NaN,200.0,193.0,4.0,3.0,0.0,0.0
368,999.0,49740.0,"Yuma, AZ ...",80.0,80.0,0.0,0.0,0.0,0.0,99.0,NaN,1063.0,1057.0,6.0,0.0,0.0,0.0

In [3]:
%%bash
ls msa

msamonthly_201911.xls
msamonthly_201912.xls
msamonthly_202001.xls
msamonthly_202002.xls
msamonthly_202003.xls
msamonthly_202004.xls
msamonthly_202005.xls
msamonthly_202006.xls
msamonthly_202007.xls
msamonthly_202008.xls
msamonthly_202009.xls
msamonthly_202010.xls
msamonthly_202011.xls
msamonthly_202012.xls
msamonthly_202101.xls
msamonthly_202102.xls
msamonthly_202103.xls
msamonthly_202104.xls
msamonthly_202105.xls
msamonthly_202106.xls
msamonthly_202107.xls
msamonthly_202108.xls
msamonthly_202109.xls
msamonthly_202110.xls
msamonthly_202111.xls
msamonthly_202112.xls
msamonthly_202201.xls
msamonthly_202202.xls
msamonthly_202203.xls
msamonthly_202204.xls
msamonthly_202205.xls
msamonthly_202206.xls
msamonthly_202207.xls