In [1]:
import os
import re

import pandas as pd
import numpy as np
import altair as alt

In [2]:
msa_files = [os.path.join("msa", file_path) for file_path in os.listdir('msa')]
ZHVI_files = [os.path.join('zillow', file_path) for file_path in os.listdir( 'zillow')]

In [3]:
msa_dfs = [pd.read_excel(f, skiprows=7)[1:] for f in msa_files]
print(msa_files)

['msa/msamonthly_202102.xls', 'msa/msamonthly_202103.xls', 'msa/msamonthly_202101.xls', 'msa/msamonthly_202110.xls', 'msa/msamonthly_202104.xls', 'msa/msamonthly_202105.xls', 'msa/msamonthly_202111.xls', 'msa/msamonthly_202107.xls', 'msa/msamonthly_202112.xls', 'msa/msamonthly_202106.xls', 'msa/msamonthly_202001.xls', 'msa/msamonthly_202203.xls', 'msa/msamonthly_201911.xls', 'msa/msamonthly_202202.xls', 'msa/msamonthly_202002.xls', 'msa/msamonthly_201912.xls', 'msa/msamonthly_202201.xls', 'msa/msamonthly_202003.xls', 'msa/msamonthly_202007.xls', 'msa/msamonthly_202205.xls', 'msa/msamonthly_202204.xls', 'msa/msamonthly_202012.xls', 'msa/msamonthly_202006.xls', 'msa/msamonthly_202010.xls', 'msa/msamonthly_202004.xls', 'msa/msamonthly_202206.xls', 'msa/msamonthly_202207.xls', 'msa/msamonthly_202005.xls', 'msa/msamonthly_202011.xls', 'msa/msamonthly_202008.xls', 'msa/msamonthly_202009.xls', 'msa/msamonthly_202108.xls', 'msa/msamonthly_202109.xls']

In [4]:
print(msa_dfs[0].columns)

msa_cols = ['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', 
            '3 and 4 Units','5 Units or More', 
            'Num of Structures With 5 Units or More']
msa_dfs = [df[msa_cols] for df in msa_dfs]

msa_dfs[0].head()

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More',
       'Monthly Coverage Percent*', 'Unnamed: 10', 'Total.1', '1 Unit.1',
       '2 Units.1', '3 and 4 Units.1', '5 Units or More.1',
       'Num of Structures With 5 Units or More.1'],
      dtype='object')

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More
1,999.0,10180.0,"Abilene, TX ...",33.0,31.0,2.0,0.0,0.0,0.0
2,184.0,10420.0,"Akron, OH ...",45.0,45.0,0.0,0.0,0.0,0.0
3,999.0,10500.0,"Albany, GA ...",32.0,15.0,0.0,0.0,17.0,1.0
4,440.0,10540.0,"Albany-Lebanon, OR ...",58.0,37.0,0.0,0.0,21.0,3.0
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",268.0,118.0,4.0,0.0,146.0,2.0

In [5]:
print(msa_dfs[0].columns)

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More'],
      dtype='object')

In [6]:
for df, name in zip(msa_dfs, msa_files):
    df['Date'] = name[name.rfind('_')+1:name.rfind('.')]

df.head()

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Date
1,999.0,10180.0,"Abilene, TX ...",62.0,56.0,6.0,0.0,0.0,0.0,202109
2,184.0,10420.0,"Akron, OH ...",62.0,57.0,0.0,0.0,5.0,1.0,202109
3,999.0,10500.0,"Albany, GA ...",40.0,26.0,0.0,0.0,14.0,1.0,202109
4,440.0,10540.0,"Albany-Lebanon, OR ...",66.0,29.0,4.0,3.0,30.0,3.0,202109
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",273.0,97.0,2.0,3.0,171.0,4.0,202109

In [32]:
permits_df = pd.concat(msa_dfs).dropna(axis = 1)
permits_df.Name = permits_df.Name.apply(lambda x: x.strip())

permits_df

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Date
1,999.0,10180.0,"Abilene, TX",33.0,31.0,2.0,0.0,0.0,0.0,202102
2,184.0,10420.0,"Akron, OH",45.0,45.0,0.0,0.0,0.0,0.0,202102
3,999.0,10500.0,"Albany, GA",32.0,15.0,0.0,0.0,17.0,1.0,202102
4,440.0,10540.0,"Albany-Lebanon, OR",58.0,37.0,0.0,0.0,21.0,3.0,202102
5,104.0,10580.0,"Albany-Schenectady-Troy, NY",268.0,118.0,4.0,0.0,146.0,2.0,202102
...,...,...,...,...,...,...,...,...,...,...
364,148.0,49340.0,"Worcester, MA-CT",13.0,13.0,0.0,0.0,0.0,0.0,202109
365,999.0,49420.0,"Yakima, WA",48.0,34.0,6.0,8.0,0.0,0.0,202109
366,276.0,49620.0,"York-Hanover, PA",9.0,9.0,0.0,0.0,0.0,0.0,202109
367,566.0,49660.0,"Youngstown-Warren-Boardman, OH-PA",34.0,31.0,0.0,3.0,0.0,0.0,202109
368,999.0,49740.0,"Yuma, AZ",49.0,49.0,0.0,0.0,0.0,0.0,202109

In [8]:
ZHVI_dfs = [pd.read_csv(z) for z in ZHVI_files]

ZHVI_dfs = [df[df['RegionType']=='msa'] for df in ZHVI_dfs]
ZHVI_dfs[0].head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
1,394913,1,"New York, NY",msa,NY,398618.0,400989.0,403125.0,407346.0,411288.0,...,944392.0,949401.0,955581.0,963163.0,973716.0,985181.0,997357.0,1007381.0,1014851.0,1019097.0
2,753899,2,"Los Angeles, CA",msa,CA,412833.0,414349.0,416476.0,420539.0,424798.0,...,1459690.0,1475813.0,1494850.0,1516710.0,1547884.0,1582369.0,1612876.0,1617590.0,1615957.0,1595977.0
3,394463,3,"Chicago, IL",msa,IL,295109.0,295865.0,296827.0,298700.0,300646.0,...,464815.0,468835.0,472579.0,476171.0,481214.0,486852.0,493379.0,498309.0,501462.0,502214.0
4,394514,4,"Dallas, TX",msa,TX,231125.0,231200.0,231294.0,231544.0,231819.0,...,546482.0,556356.0,568739.0,582375.0,595125.0,610729.0,625328.0,638078.0,641222.0,639479.0
5,394692,5,"Houston, TX",msa,TX,226539.0,226746.0,226568.0,226884.0,226956.0,...,455285.0,460482.0,465816.0,472578.0,481148.0,490962.0,500094.0,506863.0,510726.0,512294.0

In [9]:
for df,f in zip(ZHVI_dfs, ZHVI_files):
    df['filename'] = f[f.rfind('/')+1:-4]
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,filename
1,394913,1,"New York, NY",msa,NY,269152.0,270818.0,272236.0,275165.0,277939.0,...,653921.0,658777.0,664655.0,672580.0,681386.0,690621.0,698178.0,703790.0,706621.0,Metro_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.6...
2,753899,2,"Los Angeles, CA",msa,CA,286048.0,287357.0,288898.0,291929.0,294973.0,...,1035580.0,1052255.0,1070162.0,1094323.0,1119753.0,1142443.0,1145790.0,1142258.0,1125769.0,Metro_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.6...
3,394463,3,"Chicago, IL",msa,IL,216379.0,216954.0,217723.0,219175.0,220698.0,...,388057.0,391541.0,395013.0,399657.0,404845.0,410553.0,414859.0,417500.0,418126.0,Metro_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.6...
4,394514,4,"Dallas, TX",msa,TX,183601.0,183579.0,183670.0,183826.0,184014.0,...,445207.0,455516.0,466538.0,476764.0,489400.0,501440.0,511803.0,514244.0,512422.0,Metro_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.6...
5,394692,5,"Houston, TX",msa,TX,165886.0,165941.0,165744.0,165896.0,165865.0,...,338518.0,342701.0,348083.0,354884.0,362637.0,369808.0,375118.0,378198.0,379363.0,Metro_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.6...

In [10]:
ZHVI_df = pd.concat(ZHVI_dfs)

date_columns = [column for column in ZHVI_df.columns if re.match(r'\d{4}-\d{2}-\d{2}', column)]
other_columns = [column for column in ZHVI_df.columns if not re.match(r'\d{4}-\d{2}-\d{2}', column)]
ZHVI_df = ZHVI_df.melt(id_vars=other_columns, value_vars=date_columns, var_name='Date', value_name='Price')

# ZHVI_df.dropna(subset=['Price',], axis='columns', inplace=True)
ZHVI_df['Year'] = ZHVI_df.Date.apply(lambda x: int(x.split("-")[0]))
ZHVI_df['Month'] = ZHVI_df.Date.apply(lambda x: int(x.split("-")[1]))

ZHVI_df.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,filename,Date,Price,Year,Month
0,394913,1,"New York, NY",msa,NY,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,398618.0,2000,1
1,753899,2,"Los Angeles, CA",msa,CA,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,412833.0,2000,1
2,394463,3,"Chicago, IL",msa,IL,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,295109.0,2000,1
3,394514,4,"Dallas, TX",msa,TX,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,231125.0,2000,1
4,394692,5,"Houston, TX",msa,TX,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,226539.0,2000,1
5,395209,6,"Washington, DC",msa,VA,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,321180.0,2000,1
6,394856,7,"Miami, FL",msa,FL,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,244156.0,2000,1
7,394974,8,"Philadelphia, PA",msa,PA,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,224947.0,2000,1
8,394347,9,"Atlanta, GA",msa,GA,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,258618.0,2000,1
9,394976,10,"Phoenix, AZ",msa,AZ,Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month,2000-01-31,234570.0,2000,1

In [11]:
ZHVI_msas = ZHVI_dfs[0]['RegionName'].unique().tolist()
msa_msas = msa_dfs[0]['Name'].str.strip().unique().tolist()

combo_list = [city for city in ZHVI_msas if city in msa_msas]
ZHVI_unique = [city for city in ZHVI_msas if city not in msa_msas]
msa_unique = [city for city in msa_msas if city not in ZHVI_msas]

print(ZHVI_unique)
print(msa_unique)

['New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Dallas, TX', 'Houston, TX', 'Washington, DC', 'Miami, FL', 'Philadelphia, PA', 'Atlanta, GA', 'Phoenix, AZ', 'Boston, MA', 'San Francisco, CA', 'Riverside, CA', 'Detroit, MI', 'Seattle, WA', 'Minneapolis, MN', 'San Diego, CA', 'Tampa, FL', 'Denver, CO', 'St. Louis, MO', 'Baltimore, MD', 'Charlotte, NC', 'Orlando, FL', 'San Antonio, TX', 'Portland, OR', 'Sacramento, CA', 'Las Vegas, NV', 'Austin, TX', 'Cincinnati, OH', 'Kansas City, MO', 'Indianapolis, IN', 'Cleveland, OH', 'San Jose, CA', 'Nashville, TN', 'Virginia Beach, VA', 'Providence, RI', 'Milwaukee, WI', 'Raleigh, NC', 'Memphis, TN', 'New Orleans, LA', 'Louisville, KY', 'Hartford, CT', 'Buffalo, NY', 'Birmingham, AL', 'Grand Rapids, MI', 'Omaha, NE', 'Worcester, MA', 'Bridgeport, CT', 'Greenville, SC', 'Albany, NY', 'McAllen, TX', 'North Port, FL', 'New Haven, CT', 'Allentown, PA', 'Oxnard, CA', 'Charleston, SC', 'Dayton, OH', 'Cape Coral, FL', 'Greensboro, NC', 'Little Rock, AR', 'Lakeland, FL', 'Des Moines, IA', 'Ogden, UT', 'Deltona, FL', 'Winston, NC', 'Provo, UT', 'Durham, NC', 'Augusta, GA', 'Palm Bay, FL', 'Harrisburg, PA', 'Spokane, WA', 'Chattanooga, TN', 'Scranton, PA', 'Fayetteville, AR', 'Lansing, MI', 'Portland, ME', 'Youngstown, OH', 'Lexington, KY', 'Myrtle Beach, SC', 'Pensacola, FL', 'Santa Rosa, CA', 'Killeen, TX', 'York, PA', 'Santa Maria, CA', 'Brownsville, TX', 'Salisbury, MD', 'Gulfport, MS', 'Manchester, NH', 'Canton, OH', 'Naples, FL', 'Shreveport, LA', 'Beaumont, TX', 'Eugene, OR', 'Davenport, IA', 'Hickory, NC', 'Trenton, NJ', 'Huntington, WV', 'South Bend, IN', 'Columbus, GA', 'Evansville, IN', 'Clarksville, TN', 'Roanoke, VA', 'Kingsport, TN', 'Kennewick, WA', 'Olympia, WA', 'Hagerstown, MD', 'Crestview, FL', 'Duluth, MN', 'Utica, NY', 'San Luis Obispo, CA', 'Bremerton, WA', 'Santa Cruz, CA', 'College Station, TX', 'Kalamazoo, MI', 'Norwich, CT', 'Atlantic City, NJ', 'Fort Smith, AR', 'Fargo, ND', 'Prescott Valley, AZ', 'Lafayette, IN', 'Macon, GA', 'Daphne, AL', 'Hilton Head Island, SC', 'Champaign, IL', 'Burlington, VT', 'Lebanon, NH', 'Lake Havasu City, AZ', 'Athens, GA', 'Houma, LA', 'Elkhart, IN', 'Hilo, HI', 'Torrington, CT', 'Yuba City, CA', 'Oshkosh, WI', "Coeur d'Alene, ID", 'Waterloo, IA', 'Kahului, HI', 'Blacksburg, VA', 'Auburn, AL', 'Tupelo, MS', 'Wausau, WI', 'Janesville, WI', 'Sebastian, FL', 'Chambersburg, PA', 'Elizabethtown, KY', 'Hanford, CA', 'Concord, NH', 'Traverse City, MI', 'Jefferson City, MO', 'Texarkana, TX', 'Florence, AL', 'London, KY', 'Vineland, NJ', 'Rocky Mount, NC', 'Ottawa, IL', 'Sioux City, IA', 'Logan, UT', 'Morristown, TN', 'Dalton, GA', 'Winchester, VA', 'Pottsville, PA', 'Sherman, TX', 'Wheeling, WV', 'La Crosse, WI', 'Napa, CA', 'Carbondale, IL', 'Eureka, CA', 'Albany, OR', 'Mount Vernon, WA', 'Lumberton, NC', 'Sierra Vista, AZ', 'Jamestown, NY', 'Goldsboro, NC', 'New Bern, NC', 'Augusta, ME', 'St. Joseph, MO', 'Mansfield, OH', 'Holland, MI', 'Bozeman, MT', 'Wooster, OH', 'Cookeville, TN', 'Weirton, WV', 'California, MD', 'Anniston, AL', 'Show Low, AZ', 'Roseburg, OR', 'Michigan City, IN', 'Lewiston, ME', 'Richmond, KY', 'Watertown, NY', 'Ogdensburg, NY', 'Sebring, FL', 'Tullahoma, TN', 'Kalispell, MT', 'Bluefield, WV', 'Whitewater, WI', 'Pinehurst, NC', 'LaGrange, GA', 'Salem, OH', 'Grand Forks, ND', 'Danville, VA', 'Truckee, CA', 'Victoria, TX', 'Moses Lake, WA', 'Sevierville, TN', 'Shelby, NC', 'Meridian, MS', 'Adrian, MI', 'Cape Girardeau, MO', 'Albertville, AL', 'Cumberland, MD', 'Ashtabula, OH', 'Paducah, KY', 'Brainerd, MN', 'Corning, NY', 'Clarksburg, WV', 'New Philadelphia, OH', 'Sunbury, PA', 'Hermiston, OR', 'Parkersburg, WV', 'Grants Pass, OR', 'Beaver Dam, WI', 'Lufkin, TX', 'Ukiah, CA', 'Zanesville, OH', 'Oak Harbor, WA', 'Russellville, AR', 'Orangeburg, SC', 'New Castle, PA', 'Watertown, WI', 'Cullman, AL', 'Laurel, MS', 'Athens, TX', 'Meadville, PA', 'Indiana, PA', 'Bloomsburg, PA', 'Helena, MT', 'Centralia, WA', 'Wilson, NC', 'Stillwater, OK', 'Opelousas, LA', 'Statesboro, GA', 'Seneca, SC', 'Talladega, AL', 'Plattsburgh, NY', 'Warsaw, IN', 'Manitowoc, WI', 'Searcy, AR', 'DuBois, PA', 'Glenwood Springs, CO', 'Port Angeles, WA', 'Heber, UT', 'Minot, ND', 'Chillicothe, OH', 'Keene, NH', 'Jefferson, GA', 'Auburn, NY', 'Aberdeen, WA', 'Olean, NY', 'Findlay, OH', 'Palatka, FL', 'Quincy, IL', 'Portsmouth, OH', 'Frankfort, KY', 'Key West, FL', 'Sandusky, OH', 'Shawnee, OK', 'Somerset, PA', 'Lake City, FL', 'Wisconsin Rapids, WI', 'Huntsville, TX', 'Kapaa, HI', 'Hobbs, NM', 'Mount Airy, NC', 'Greenwood, SC', 'Stevens Point, WI', 'Gallup, NM', 'Greeneville, TN', 'Morehead City, NC', 'Mount Pleasant, MI', 'Klamath Falls, OR', 'Roanoke Rapids, NC', 'Shelton, WA', 'North Wilkesboro, NC', 'Alamogordo, NM', 'Muskogee, OK', 'Faribault, MN', 'Forest City, NC', 'Farmington, MO', 'Marquette, MI', 'Richmond, IN', 'Somerset, KY', 'Athens, OH', 'Marion, IN', 'Marion, OH', 'Nacogdoches, TX', 'Roswell, NM', 'Coos Bay, OR', 'Red Bluff, CA', 'Clearlake, CA', 'Baraboo, WI', 'Rio Grande City, TX', 'Dublin, GA', 'Lewiston, ID', 'Georgetown, SC', 'Marinette, WI', 'Martinsville, VA', 'Mount Vernon, OH', 'Sanford, NC', 'Hutchinson, KS', 'Crossville, TN', 'Laconia, NH', 'Charleston, IL', 'Gillette, WY', 'Sturgis, MI', 'Sayre, PA', 'Marietta, OH', 'Salina, KS', 'Hudson, NY', 'Starkville, MS', 'Calhoun, GA', 'Fergus Falls, MN', 'Oneonta, NY', 'Ardmore, OK', 'Eagle Pass, TX', 'Fremont, OH', 'Barre, VT', 'Fernley, NV', 'Columbus, MS', 'Cullowhee, NC', 'Norwalk, OH', 'Palestine, TX', 'Rutland, VT', 'Fort Madison, IA', 'Gaffney, SC', 'Batavia, NY', 'Cedar City, UT', 'Kearney, NE', 'Durango, CO', 'Boone, NC', 'Point Pleasant, WV', 'Branson, MO', 'Fairmont, WV', 'Picayune, MS', 'Ontario, OR', 'Kinston, NC', 'Poplar Bluff, MO', 'St. Marys, GA', 'Waycross, GA', 'Batesville, AR', 'Elko, NV', 'Tiffin, OH', 'Edwards, CO', 'Jasper, IN', 'Danville, KY', 'Sterling, IL', 'Sonora, CA', 'Oxford, MS', 'Glasgow, KY', 'Payson, AZ', 'Warrensburg, MO', 'Athens, TN', 'Elizabeth City, NC', 'Milledgeville, GA', 'Rexburg, ID', 'Ashland, OH', 'Enterprise, AL', 'Jacksonville, TX', 'Kerrville, TX', 'Gloversville, NY', 'Fort Leonard Wood, MO', 'Bartlesville, OK', 'Douglas, GA', 'Scottsboro, AL', 'Alice, TX', 'Greenville, OH', 'Platteville, WI', 'Corsicana, TX', 'Newport, OR', 'Winona, MN', 'Oil City, PA', 'Rochelle, IL', 'Shelbyville, TN', 'Malone, NY', 'Paris, TX', 'Pullman, WA', 'Mason City, IA', 'Ellensburg, WA', 'Natchez, MS', 'Amsterdam, NY', 'Gardnerville Ranchos, NV', 'Galesburg, IL', 'Del Rio, TX', 'Tahlequah, OK', 'Durant, OK', 'Ozark, AL', 'Cadillac, MI', 'Clovis, NM', 'Sidney, OH', 'Morgan City, LA', 'Montrose, CO', 'Pahrump, NV', 'New Castle, IN', 'Fort Polk South, LA', 'Norfolk, NE', 'Ca-¦on City, CO', 'Kendallville, IN', 'Bemidji, MN', 'Blackfoot, ID', 'Cortland, NY', 'Mount Sterling, KY', 'Washington, NC', 'Sandpoint, ID', 'Nogales, AZ', 'Ruston, LA', 'Bardstown, KY', 'Clinton, IA', 'Red Wing, MN', 'Plymouth, IN', 'Lewistown, PA', 'Cornelia, GA', 'Mount Pleasant, TX', 'Marion, NC', 'Bogalusa, LA', 'Wapakoneta, OH', 'Hillsdale, MI', 'Paragould, AR', 'Moultrie, GA', 'Bedford, IN', 'Burley, ID', 'Menomonie, WI', 'Shawano, WI', 'Bellefontaine, OH', 'Burlington, IA', 'Harrison, AR', 'Vicksburg, MS', 'Henderson, NC', 'Madisonville, KY', 'Huntingdon, PA', 'Lawrenceburg, TN', 'Rolla, MO', 'Thomasville, GA', 'Rockingham, NC', 'Lewisburg, PA', 'Seymour, IN', 'Big Rapids, MI', 'Freeport, IL', 'McAlester, OK', 'Auburn, IN', 'Coldwater, MI', 'Ponca City, OK', 'Stephenville, TX', 'Willmar, MN', 'Duncan, OK', 'Cedartown, GA', 'Clewiston, FL', 'Rock Springs, WY', 'Aberdeen, SD', 'Sedalia, MO', 'Muscatine, IA', 'Okeechobee, FL', 'Mountain Home, AR', 'Wilmington, OH', 'El Campo, TX', 'McMinnville, TN', 'Gainesville, TX', 'Bucyrus, OH', 'Celina, OH', 'Big Stone Gap, VA', 'Moscow, ID', 'Tifton, GA', 'Astoria, OR', 'Bradford, PA', 'Selinsgrove, PA', 'Alma, MI', 'West Plains, MO', 'Austin, MN', 'Blytheville, AR', 'Garden City, KS', 'Marshalltown, IA', 'Riverton, WY', 'Murray, KY', 'Safford, AZ', 'McComb, MS', 'Urbana, OH', 'Laramie, WY', 'Warren, PA', 'Cambridge, OH', 'Pittsburg, KS', 'Hannibal, MO', 'Williston, ND', 'Espa-¦ola, NM', 'Arcadia, FL', 'Newberry, SC', 'Ada, OK', 'Crawfordsville, IN', 'Jacksonville, IL', 'Alexandria, MN', 'Sikeston, MO', 'El Dorado, AR', 'Lock Haven, PA', 'DeRidder, LA', 'Defiance, OH', 'Natchitoches, LA', 'Brownwood, TX', 'Greenwood, MS', 'Kill Devil Hills, NC', 'Logansport, IN', 'Scottsbluff, NE', 'Houghton, MI', 'Mount Vernon, IL', 'Sulphur Springs, TX', 'Easton, MD', 'Sault Ste. Marie, MI', 'Corinth, MS', 'Mayfield, KY', 'Bay City, TX', 'Campbellsville, KY', 'Dyersburg, TN', 'Owatonna, MN', 'Big Spring, TX', 'Vincennes, IN', 'Coshocton, OH', 'Huntington, IN', 'Newport, TN', 'Fremont, NE', 'Selma, AL', 'Jackson, WY', 'Vidalia, GA', 'Vernal, UT', 'Lebanon, MO', 'Decatur, IN', 'Brenham, TX', 'Hutchinson, MN', 'Emporia, KS', 'Escanaba, MI', 'Brookings, SD', 'North Platte, NE', 'Pontiac, IL', 'Bennington, VT', 'Peru, IN', 'Butte, MT', 'Lewisburg, TN', 'Ottumwa, IA', 'Angola, IN', 'Laurinburg, NC', 'Winfield, KS', 'Brevard, NC', 'Americus, GA', 'Watertown, SD', 'Effingham, IL', 'Seneca Falls, NY', 'Brookhaven, MS', 'Malvern, AR', 'Dixon, IL', 'Washington, IN', 'Dayton, TN', 'Columbus, NE', 'Martin, TN', 'Dodge City, KS', 'Dickinson, ND', 'Troy, AL', 'Plainview, TX', 'Taos, NM', 'Beeville, TX', 'Jackson, OH', 'Frankfort, IN', 'Madison, IN', 'Taylorville, IL', 'Paris, TN', 'Cambridge, MD', 'Juneau, AK', 'Mount Gay, WV', 'Las Vegas, NM', 'Coffeyville, KS', 'Hastings, NE', 'Berlin, NH', 'Miami, OK', 'Sheridan, WY', 'Wabash, IN', 'Kingsville, TX', 'Breckenridge, CO', 'Albert Lea, MN', 'Union City, TN', 'Jesup, GA', 'Susanville, CA', 'Kirksville, MO', 'Iron Mountain, MI', 'Mineral Wells, TX', 'Macomb, IL', 'Ludington, MI', 'Fort Morgan, CO', 'Kennett, MO', 'Hays, KS', 'Weatherford, OK', 'Washington Court House, OH', 'McPherson, KS', 'Elkins, WV', 'Lincoln, IL', 'Camden, AR', 'Alpena, MI', 'Van Wert, OH', 'Crescent City, CA', 'North Vernon, IN', 'Mountain Home, ID', 'Silver City, NM', 'Fredericksburg, TX', 'Wauchula, FL', 'Uvalde, TX', 'Greensburg, IN', 'La Grande, OR', 'Thomaston, GA', 'Bainbridge, GA', 'The Dalles, OR', 'Spearfish, SD', 'Toccoa, GA', 'Ottawa, KS', 'Great Bend, KS', 'Bennettsville, SC', 'Steamboat Springs, CO', 'Lexington, NE', 'Middlesborough, KY', 'Fallon, NV', 'Marshall, MN', 'Prineville, OR', 'New Ulm, MN', 'Summerville, GA', 'Mexico, MO', 'Indianola, MS', 'Forrest City, AR', 'Hailey, ID', 'Moberly, MO', 'Altus, OK', 'Deming, NM', 'Woodward, OK', 'Magnolia, AR', 'Brookings, OR', 'Mitchell, SD', 'Hood River, OR', 'Levelland, TX', 'Connersville, IN', 'Marshall, MO', 'Yankton, SD', 'Pampa, TX', 'Oskaloosa, IA', 'Wahpeton, ND', 'Arkadelphia, AR', 'Cordele, GA', 'Sterling, CO', 'Maryville, MO', 'Elk City, OK', 'Beatrice, NE', 'Worthington, MN', 'Raymondville, TX', 'Liberal, KS', 'Port Lavaca, TX', 'Borger, TX', 'Dumas, TX', 'Grenada, MS', 'Jamestown, ND', 'Pierre, SD', 'Evanston, WY', 'Othello, WA', 'Guymon, OK', 'Storm Lake, IA', 'Parsons, KS', 'Los Alamos, NM', 'Andrews, TX', 'Portales, NM', 'Fairfield, IA', 'Hereford, TX', 'Spirit Lake, IA', 'Vineyard Haven, MA', 'Helena, AR', 'Maysville, KY', 'Winnemucca, NV', 'Snyder, TX', 'Fitzgerald, GA', 'Pecos, TX', 'Atchison, KS', 'Spencer, IA', 'Sweetwater, TX', 'Vermillion, SD', 'Zapata, TX', 'Ketchikan, AK', 'Craig, CO', 'Lamesa, TX', 'Vernon, TX']
['Albany-Lebanon, OR', 'Albany-Schenectady-Troy, NY', 'Allentown-Bethlehem-Easton, PA-NJ', 'Anniston-Oxford, AL', 'Athens-Clarke County, GA', 'Atlanta-Sandy Springs-Alpharetta, GA', 'Atlantic City-Hammonton, NJ', 'Auburn-Opelika, AL', 'Augusta-Richmond County, GA-SC', 'Austin-Round Rock-Georgetown, TX', 'Baltimore-Columbia-Towson, MD', 'Beaumont-Port Arthur, TX', 'Birmingham-Hoover, AL', 'Blacksburg-Christiansburg, VA', 'Bloomsburg-Berwick, PA', 'Boston-Cambridge-Newton, MA-NH', 'Bremerton-Silverdale-Port Orchard, WA', 'Bridgeport-Stamford-Norwalk, CT', 'Brownsville-Harlingen, TX', 'Buffalo-Cheektowaga, NY', 'Burlington-South Burlington, VT', 'California-Lexington Park, MD', 'Canton-Massillon, OH', 'Cape Coral-Fort Myers, FL', 'Cape Girardeau, MO-IL', 'Chambersburg-Waynesboro, PA', 'Champaign-Urbana, IL', 'Charleston-North Charleston, SC', 'Charlotte-Concord-Gastonia, NC-SC', 'Chattanooga, TN-GA', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Cincinnati, OH-KY-IN', 'Clarksville, TN-KY', 'Cleveland-Elyria, OH', 'Coeur dAlene, ID', 'College Station-Bryan, TX', 'Columbus, GA-AL', 'Crestview-Fort Walton Beach-Destin, FL', 'Cumberland, MD-WV', 'Dallas-Fort Worth-Arlington, TX', 'Daphne-Fairhope-Foley, AL', 'Davenport-Moline-Rock Island, IA-IL', 'Dayton-Kettering, OH', 'Deltona-Daytona Beach-Ormond Beach, FL', 'Denver-Aurora-Lakewood, CO', 'Des Moines-West Des Moines, IA', 'Detroit-Warren-Dearborn, MI', 'Duluth, MN-WI', 'Durham-Chapel Hill, NC', 'Elizabethtown-Fort Knox, KY', 'Elkhart-Goshen, IN', 'Eugene-Springfield, OR', 'Evansville, IN-KY', 'Fargo, ND-MN', 'Fayetteville-Springdale-Rogers, AR-MO', 'Florence-Muscle Shoals, AL', 'Fort Smith, AR-OK', 'Grand Forks, ND-MN', 'Grand Rapids-Kentwood, MI', 'Greensboro-High Point, NC', 'Greenville-Anderson, SC', 'Gulfport-Biloxi, MS', 'Hagerstown-Martinsburg, MD-WV', 'Harrisburg-Carlisle, PA', 'Hartford-East Hartford-Middletown, CT', 'Hickory-Lenoir-Morganton, NC', 'Hilton Head Island-Bluffton, SC', 'Houma-Thibodaux, LA', 'Houston-The Woodlands-Sugar Land, TX', 'Huntington-Ashland, WV-KY-OH', 'Indianapolis-Carmel-Anderson, IN', 'Janesville-Beloit, WI', 'Kahului-Wailuku-Lahaina, HI', 'Kalamazoo-Portage, MI', 'Kansas City, MO-KS', 'Kennewick-Richland, WA', 'Killeen-Temple, TX', 'Kingsport-Bristol, TN-VA', 'La Crosse-Onalaska, WI-MN', 'Lafayette-West Lafayette, IN', 'Lake Havasu City-Kingman, AZ', 'Lakeland-Winter Haven, FL', 'Lansing-East Lansing, MI', 'Las Vegas-Henderson-Paradise, NV', 'Lewiston, ID-WA', 'Lewiston-Auburn, ME', 'Lexington-Fayette, KY', 'Little Rock-North Little Rock-Conway, AR', 'Logan, UT-ID', 'Los Angeles-Long Beach-Anaheim, CA', 'Louisville-Jefferson County, KY-IN', 'Macon-Bibb County, GA', 'Manchester-Nashua, NH', 'McAllen-Edinburg-Mission, TX', 'Memphis, TN-MS-AR', 'Miami-Fort Lauderdale-Pompano Beach, FL', 'Michigan City-La Porte, IN', 'Milwaukee-Waukesha, WI', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'Mount Vernon-Anacortes, WA', 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC', 'Naples-Marco Island, FL', 'Nashville-Davidson--Murfreesboro--Franklin, TN', 'New Haven-Milford, CT', 'New Orleans-Metairie, LA', 'New York-Newark-Jersey City, NY-NJ-PA', 'North Port-Sarasota-Bradenton, FL', 'Norwich-New London, CT', 'Ogden-Clearfield, UT', 'Olympia-Lacey-Tumwater, WA', 'Omaha-Council Bluffs, NE-IA', 'Orlando-Kissimmee-Sanford, FL', 'Oshkosh-Neenah, WI', 'Oxnard-Thousand Oaks-Ventura, CA', 'Palm Bay-Melbourne-Titusville, FL', 'Parkersburg-Vienna, WV', 'Pensacola-Ferry Pass-Brent, FL', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'Phoenix-Mesa-Chandler, AZ', 'Portland-South Portland, ME', 'Portland-Vancouver-Hillsboro, OR-WA', 'Poughkeepsie-Newburgh-Middletown, NY', 'Prescott Valley-Prescott, AZ', 'Providence-Warwick, RI-MA', 'Provo-Orem, UT', 'Raleigh-Cary, NC', 'Riverside-San Bernardino-Ontario, CA', 'Sacramento-Roseville-Folsom, CA', 'Salisbury, MD-DE', 'San Antonio-New Braunfels, TX', 'San Diego-Chula Vista-Carlsbad, CA', 'San Francisco-Oakland-Berkeley, CA', 'San Jose-Sunnyvale-Santa Clara, CA', 'San Luis Obispo-Paso Robles, CA', 'Santa Cruz-Watsonville, CA', 'Santa Maria-Santa Barbara, CA', 'Santa Rosa-Petaluma, CA', 'Scranton--Wilkes-Barre, PA', 'Seattle-Tacoma-Bellevue, WA', 'Sebastian-Vero Beach, FL', 'Shreveport-Bossier City, LA', 'Sierra Vista-Douglas, AZ', 'Sioux City, IA-NE-SD', 'South Bend-Mishawaka, IN-MI', 'Spokane-Spokane Valley, WA', 'St. Joseph, MO-KS', 'St. Louis, MO-IL', 'Tampa-St. Petersburg-Clearwater, FL', 'Texarkana, TX-AR', 'Trenton-Princeton, NJ', 'Utica-Rome, NY', 'Vineland-Bridgeton, NJ', 'Virginia Beach-Norfolk-Newport News, VA-NC', 'Washington-Arlington-Alexandria, DC-VA-MD-WV', 'Waterloo-Cedar Falls, IA', 'Watertown-Fort Drum, NY', 'Wausau-Weston, WI', 'Weirton-Steubenville, WV-OH', 'Wheeling, WV-OH', 'Winchester, VA-WV', 'Winston-Salem, NC', 'Worcester, MA-CT', 'York-Hanover, PA', 'Youngstown-Warren-Boardman, OH-PA']

In [12]:
print(len(combo_list))
print(len(ZHVI_unique))
print(len(msa_unique))

204
688
164

In [13]:
for item in msa_unique:
    state = item[-2:]
    for city in ZHVI_unique:
        if city[-2:] == state:
            continue

In [14]:
ZHVI_state_dictionary = {}
for city in ZHVI_unique:
    if city[-2:] not in ZHVI_state_dictionary.keys():
        ZHVI_state_dictionary[city[-2:]] = [city]
    else:
        ZHVI_state_dictionary[city[-2:]].append(city)

In [15]:
print(ZHVI_state_dictionary['NJ'])

['Trenton, NJ', 'Atlantic City, NJ', 'Vineland, NJ']

In [16]:
msa_state_dictionary = {}
for city in msa_unique:
    if city[-2:] not in msa_state_dictionary.keys():
        msa_state_dictionary[city[-2:]] = [city]
    else:
        msa_state_dictionary[city[-2:]].append(city)

In [17]:
multi_state_msa = [city for city in msa_msas if '-' in city]

In [18]:
def split_cities(l):
    individual_cities = []
    multis = []
    for cities in l:
        c,s = cities.split(',')
        cs = c.split('-')
        ss = s.split('-')

    for c in cs:
        for s in ss:
            city = c + ', ' + s.strip()
            individual_cities.append(city)
            multis.append(cities)
    return individual_cities, multis

In [19]:
ind_cities, multis = split_cities(multi_state_msa)

In [20]:
cities_dict = {}
combo_cities = []
matched_cities = []

for city, combo in zip(ind_cities,multis):
    try:
        if city in ZHVI_state_dictionary[city[-2:]]:
            matched_cities.append(city)
            combo_cities.append(combo)
            cities_dict[combo] = city
    except: continue

In [21]:
permits_df.head()

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Date
1,999.0,10180.0,"Abilene, TX ...",33.0,31.0,2.0,0.0,0.0,0.0,202102
2,184.0,10420.0,"Akron, OH ...",45.0,45.0,0.0,0.0,0.0,0.0,202102
3,999.0,10500.0,"Albany, GA ...",32.0,15.0,0.0,0.0,17.0,1.0,202102
4,440.0,10540.0,"Albany-Lebanon, OR ...",58.0,37.0,0.0,0.0,21.0,3.0,202102
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",268.0,118.0,4.0,0.0,146.0,2.0,202102

In [22]:
city_df = pd.DataFrame()
city_df['multi'] = combo_cities
city_df['corresponding'] = matched_cities

city_df.to_csv('citi_matches.csv', index = False)

In [41]:
zhvi_msa_set = set(ZHVI_df.RegionName.unique())
permit_msa_set = set(permits_df.Name.unique())

msa_intersection = zhvi_msa_set.intersection(permit_msa_set)
unmatched_zhvi_msas = zhvi_msa_set.difference(permit_msa_set)
unmatched_permit_msas = permit_msa_set.difference(zhvi_msa_set)

# Set of tuples of form (ZHVI msa, Census MSA)
msa_matches = set()

for matched_msa in msa_intersection:
    msa_matches.add((matched_msa, matched_msa))
    
print((f"Matched: {len(msa_matches)}, Unmatched Zillow: {len(unmatched_zhvi_msas)}, "
       f"Unmatched Census {len(unmatched_permit_msas)}"))

Matched: 216, Unmatched Zillow: 682, Unmatched Census 168

In [42]:
for uzm in unmatched_zhvi_msas:
    city, state = uzm.split(", ")

{'Harrisburg, PA', 'Warren, PA', 'Laramie, WY', 'Cleveland, OH', 'Warsaw, IN', 'Austin, TX', 'Lawrenceburg, TN', 'Marquette, MI', 'Madison, IN', 'Liberal, KS', 'Emporia, KS', 'Washington, DC', 'Huntingdon, PA', 'New York, NY', 'Clearlake, CA', 'Pontiac, IL', 'Gloversville, NY', 'Spencer, IA', 'Altus, OK', 'Milwaukee, WI', 'Urbana, OH', 'Carlsbad, NM', 'Montrose, CO', 'Findlay, OH', 'Marshall, MO', 'Palatka, FL', 'Vernon, TX', 'Jefferson, GA', 'Quincy, IL', 'Marion, OH', 'Talladega, AL', 'Columbus, NE', 'Gallup, NM', 'Storm Lake, IA', 'Lebanon, NH', 'New Castle, IN', 'Kennewick, WA', 'Fort Leonard Wood, MO', 'Whitewater, WI', 'Show Low, AZ', 'Ottawa, KS', 'Durham, NC', 'Arcadia, FL', 'Bardstown, KY', 'Lewisburg, TN', 'Middlesborough, KY', 'Myrtle Beach, SC', 'Ca-¦on City, CO', 'North Port, FL', 'Rexburg, ID', 'Huntington, WV', 'Sebastian, FL', 'Utica, NY', 'Salina, KS', 'Seattle, WA', 'San Luis Obispo, CA', 'Wheeling, WV', 'Kapaa, HI', 'Brookings, OR', 'Oil City, PA', 'Vidalia, GA', 'California, MD', 'Taylorville, IL', 'Sacramento, CA', 'Sheridan, WY', 'Malvern, AR', 'Hilton Head Island, SC', 'Minot, ND', 'Ashtabula, OH', 'Cleveland, MS', 'Easton, MD', 'Maryville, MO', 'Pottsville, PA', 'Bemidji, MN', 'McPherson, KS', 'Helena, AR', 'Grand Forks, ND', 'Laurel, MS', 'Peru, IN', 'Wooster, OH', 'Cambridge, OH', 'Dickinson, ND', 'Richmond, IN', 'Morgan City, LA', 'Weirton, WV', 'Hickory, NC', 'Kennett, MO', 'Baltimore, MD', 'Jacksonville, TX', 'Astoria, OR', 'Washington, NC', 'Fairmont, WV', 'Beaumont, TX', 'Auburn, NY', 'Oshkosh, WI', 'Houma, LA', 'Lexington, KY', 'Worcester, MA', 'Richmond, KY', 'Oxnard, CA', 'Sunbury, PA', 'Orangeburg, SC', 'Payson, AZ', 'Memphis, TN', 'Del Rio, TX', 'Elkins, WV', 'Greensboro, NC', 'Stillwater, OK', 'Spokane, WA', 'Corning, NY', 'Batesville, AR', 'Evanston, WY', 'Cornelia, GA', 'Macomb, IL', 'Winona, MN', 'Shelton, WA', 'Zapata, TX', 'Corinth, MS', 'Hanford, CA', 'Newport, OR', 'Ozark, AL', 'Roseburg, OR', 'Portsmouth, OH', 'Greenville, SC', 'Cullman, AL', 'Auburn, AL', 'Holland, MI', 'Clarksdale, MS', 'Kendallville, IN', 'Mount Vernon, IL', 'Zanesville, OH', 'Keene, NH', 'Hobbs, NM', 'Clewiston, FL', 'Palm Bay, FL', 'San Francisco, CA', 'Kingsport, TN', 'Centralia, WA', 'Newberry, SC', 'Miami, FL', 'Poplar Bluff, MO', 'Ashland, OH', 'Great Bend, KS', 'Seneca Falls, NY', 'Brookings, SD', 'Columbus, MS', 'Laconia, NH', 'Wausau, WI', 'Sierra Vista, AZ', 'Fort Madison, IA', 'Brevard, NC', 'Houston, TX', 'Milledgeville, GA', 'Ogden, UT', 'Big Stone Gap, VA', 'Cincinnati, OH', 'Prescott Valley, AZ', 'Hays, KS', 'Durant, OK', 'Vermillion, SD', 'Elizabethtown, KY', 'Barre, VT', 'Davenport, IA', 'Indiana, PA', 'Charlotte, NC', 'Atlanta, GA', 'Union City, TN', 'Washington, IN', 'Celina, OH', 'Port Angeles, WA', 'North Wilkesboro, NC', 'Thomaston, GA', 'Enterprise, AL', 'Eugene, OR', 'Gulfport, MS', 'Galesburg, IL', 'Glenwood Springs, CO', 'Oak Harbor, WA', 'Sebring, FL', 'Spirit Lake, IA', 'Pensacola, FL', 'Albertville, AL', 'Tiffin, OH', 'Detroit, MI', 'Hermiston, OR', 'Camden, AR', 'Clarksville, TN', 'Des Moines, IA', 'Cape Girardeau, MO', 'Brainerd, MN', 'Vernal, UT', 'Sonora, CA', 'Fargo, ND', 'Blytheville, AR', 'Meridian, MS', 'Fremont, OH', 'Harrison, AR', 'Youngstown, OH', 'Jasper, IN', 'Watertown, WI', 'Miami, OK', 'Orlando, FL', 'Mount Pleasant, MI', 'Bedford, IN', 'North Vernon, IN', 'New Haven, CT', 'McComb, MS', 'Fallon, NV', 'Mayfield, KY', 'Los Angeles, CA', 'Glasgow, KY', 'Ada, OK', 'Las Vegas, NM', 'Norwalk, OH', 'Mount Vernon, OH', 'Boone, NC', 'Greenwood, MS', 'Sidney, OH', 'Plainview, TX', 'Georgetown, SC', 'Big Spring, TX', 'San Jose, CA', 'Sedalia, MO', 'Bucyrus, OH', 'Paducah, KY', 'Pahrump, NV', 'Mount Airy, NC', 'Uvalde, TX', 'New Orleans, LA', 'Crawfordsville, IN', 'Janesville, WI', 'Palestine, TX', 'Forest City, NC', 'Pinehurst, NC', 'Eureka, CA', 'Kerrville, TX', 'Andrews, TX', 'Olean, NY', 'Cumberland, MD', 'Campbellsville, KY', 'Toccoa, GA', 'Augusta, GA', 'Wahpeton, ND', 'Oskaloosa, IA', 'Searcy, AR', 'Lake City, FL', 'La Grande, OR', 'Shawnee, OK', 'Coffeyville, KS', 'Rock Springs, WY', 'Natchitoches, LA', 'Warrensburg, MO', 'Moses Lake, WA', 'Kill Devil Hills, NC', 'Greenville, MS', 'Wapakoneta, OH', 'Farmington, MO', 'Anniston, AL', 'Salisbury, MD', 'Gardnerville Ranchos, NV', 'Dyersburg, TN', 'Grenada, MS', 'Logan, UT', 'Crestview, FL', 'Berlin, NH', 'Point Pleasant, WV', 'Los Alamos, NM', 'Fredericksburg, TX', 'Marshall, MN', 'Burley, ID', 'Riverside, CA', 'Red Wing, MN', 'La Crosse, WI', 'Snyder, TX', 'Heber, UT', 'Chicago, IL', 'Bainbridge, GA', 'Red Bluff, CA', 'Roanoke Rapids, NC', 'Aberdeen, WA', 'Baraboo, WI', 'Cape Coral, FL', 'Bluefield, WV', 'Gaffney, SC', 'Houghton, MI', 'Lamesa, TX', 'Summerville, GA', 'Hannibal, MO', 'Cadillac, MI', 'Angola, IN', 'Fort Smith, AR', 'Key West, FL', 'Louisville, KY', 'Lansing, MI', 'Lake Havasu City, AZ', 'Willmar, MN', 'Opelousas, LA', 'Murray, KY', 'El Dorado, AR', 'New Ulm, MN', 'Trenton, NJ', 'Huntington, IN', 'Rutland, VT', 'Clinton, IA', 'Bradford, PA', 'LaGrange, GA', 'Big Rapids, MI', 'Norwich, CT', 'Kearney, NE', 'Greensburg, IN', 'Albert Lea, MN', 'Burlington, IA', 'Weatherford, OK', 'Cortland, NY', 'Paris, TN', 'Rolla, MO', 'Sault Ste. Marie, MI', 'Hereford, TX', 'Blacksburg, VA', 'Bloomsburg, PA', 'Kinston, NC', 'Sterling, CO', 'Thomasville, GA', 'Williston, ND', 'Mount Vernon, WA', 'Tupelo, MS', 'Santa Cruz, CA', 'Fremont, NE', 'Brenham, TX', 'Parkersburg, WV', 'Truckee, CA', 'Clovis, NM', 'Adrian, MI', 'Sikeston, MO', 'Yankton, SD', 'Brownwood, TX', 'Dallas, TX', 'Susanville, CA', 'Evansville, IN', 'Taos, NM', 'Watertown, SD', 'Denver, CO', 'St. Joseph, MO', 'Waycross, GA', 'Coos Bay, OR', 'Bozeman, MT', 'Pittsburg, KS', 'Fayetteville, AR', 'Mineral Wells, TX', 'Fernley, NV', 'Kahului, HI', 'Lewiston, ID', 'Atchison, KS', 'Jesup, GA', 'Athens, OH', 'Seneca, SC', 'Ukiah, CA', 'Hagerstown, MD', 'Tampa, FL', 'Faribault, MN', 'North Platte, NE', 'McMinnville, TN', 'Athens, GA', 'Connersville, IN', 'Omaha, NE', 'Texarkana, TX', 'Indianola, MS', 'Bremerton, WA', 'Albany, NY', 'Elkhart, IN', 'Winnemucca, NV', 'Duluth, MN', 'Lewisburg, PA', 'Ludington, MI', 'Rockingham, NC', 'Marshalltown, IA', 'Pecos, TX', 'Lewiston, ME', 'Menomonie, WI', 'Coshocton, OH', 'Mountain Home, AR', 'Guymon, OK', 'Ponca City, OK', 'Traverse City, MI', 'Garden City, KS', 'Wabash, IN', 'Worthington, MN', 'Albany, OR', 'Champaign, IL', 'Scranton, PA', 'Chambersburg, PA', 'St. Marys, GA', 'Austin, MN', 'Calhoun, GA', "Coeur d'Alene, ID", 'Escanaba, MI', 'Little Rock, AR', 'South Bend, IN', 'Frankfort, IN', 'New Philadelphia, OH', 'Greenville, OH', 'Marion, IN', 'Natchez, MS', 'Dumas, TX', 'Lumberton, NC', 'El Campo, TX', 'Cookeville, TN', 'Sherman, TX', 'Las Vegas, NV', 'Safford, AZ', 'Atlantic City, NJ', 'Platteville, WI', 'Olympia, WA', 'Moberly, MO', 'Kalispell, MT', 'Bridgeport, CT', 'Grand Rapids, MI', 'Raleigh, NC', 'Alpena, MI', 'Borger, TX', 'Bennettsville, SC', 'Canton, OH', 'Torrington, CT', 'Virginia Beach, VA', 'Somerset, KY', 'Starkville, MS', 'Lewistown, PA', 'Dixon, IL', 'Mexico, MO', 'Charleston, SC', 'Philadelphia, PA', 'Othello, WA', 'Dodge City, KS', 'Scottsbluff, NE', 'Newport, TN', 'Cedartown, GA', 'Vineland, NJ', 'Madisonville, KY', 'Oneonta, NY', 'Plattsburgh, NY', 'Sevierville, TN', 'Rochelle, IL', 'Paris, TX', 'Defiance, OH', 'Manchester, NH', 'Carbondale, IL', 'Shelby, NC', 'Butte, MT', 'Athens, TX', 'Deming, NM', 'Washington Court House, OH', 'Michigan City, IN', 'Nogales, AZ', 'Bellefontaine, OH', 'Fort Morgan, CO', 'Auburn, IN', 'Buffalo, NY', 'Columbus, GA', 'Dayton, OH', 'Riverton, WY', 'Beeville, TX', 'Elizabeth City, NC', 'Winchester, VA', 'Beaver Dam, WI', 'Henderson, NC', 'DeRidder, LA', 'Hudson, NY', 'Greenwood, SC', 'Portland, OR', 'Dayton, TN', 'Charleston, IL', 'Shawano, WI', 'The Dalles, OR', 'Florence, AL', 'Lock Haven, PA', 'Shreveport, LA', 'Phoenix, AZ', 'Sanford, NC', 'Bay City, TX', 'Kirksville, MO', 'Stevens Point, WI', 'Hailey, ID', 'Sioux City, IA', 'Edwards, CO', 'Bartlesville, OK', 'Sweetwater, TX', 'Morehead City, NC', 'Jamestown, NY', 'Statesboro, GA', 'Hillsdale, MI', 'Craig, CO', 'Lexington, NE', 'Corsicana, TX', 'Moscow, ID', 'Durango, CO', 'Eagle Pass, TX', 'Cambridge, MD', 'Winston, NC', 'Portales, NM', 'Hartford, CT', 'Chattanooga, TN', 'Elko, NV', 'Vicksburg, MS', 'Muskogee, OK', 'Levelland, TX', 'DuBois, PA', 'Gainesville, TX', 'Sandusky, OH', 'Effingham, IL', 'Owatonna, MN', 'Van Wert, OH', 'St. Louis, MO', 'Hilo, HI', 'Troy, AL', 'Albemarle, NC', 'Amsterdam, NY', 'Allentown, PA', 'Grants, NM', 'Espa-¦ola, NM', 'Prineville, OR', 'Klamath Falls, OR', 'Muscatine, IA', 'Crossville, TN', 'Mount Pleasant, TX', 'Sulphur Springs, TX', 'Elk City, OK', 'Wauchula, FL', 'Chillicothe, OH', 'Juneau, AK', 'Danville, VA', 'Kingsville, TX', 'Selinsgrove, PA', 'Oxford, MS', 'Selma, AL', 'Augusta, ME', 'Lufkin, TX', 'Indianapolis, IN', 'Nacogdoches, TX', 'Plymouth, IN', 'Wilmington, OH', 'Iron Mountain, MI', 'Concord, NH', 'Ardmore, OK', 'Ketchikan, AK', 'Naples, FL', 'Lebanon, MO', 'Killeen, TX', 'Logansport, IN', 'Jackson, OH', 'Woodward, OK', 'Beatrice, NE', 'Laurinburg, NC', 'Brookhaven, MS', 'Lincoln, IL', 'Ogdensburg, NY', 'Lafayette, IN', 'Martin, TN', 'Okeechobee, FL', 'Russellville, AR', 'Marinette, WI', 'Nashville, TN', 'Decatur, IN', 'Frankfort, KY', 'Fort Polk South, LA', 'Mountain Home, ID', 'Jacksonville, IL', 'Huntsville, TX', 'Kansas City, MO', 'London, KY', 'Duncan, OK', 'West Plains, MO', 'Shelbyville, TN', 'College Station, TX', 'Pampa, TX', 'Pierre, SD', 'Silver City, NM', 'Arkadelphia, AR', 'Wisconsin Rapids, WI', 'Brownsville, TX', 'Dublin, GA', 'Martinsville, VA', 'Athens, TN', 'Ottawa, IL', 'Danville, KY', 'Raymondville, TX', 'Sandpoint, ID', 'San Diego, CA', 'Portland, ME', 'Mount Sterling, KY', 'Sayre, PA', 'Mason City, IA', 'Minneapolis, MN', 'Batavia, NY', 'Sturgis, MI', 'Crescent City, CA', 'Alma, MI', 'Somerset, PA', 'Birmingham, AL', 'Greeneville, TN', 'Burlington, VT', 'Picayune, MS', 'Cullowhee, NC', 'Maysville, KY', 'Ontario, OR', 'Hutchinson, KS', 'Americus, GA', 'McAllen, TX', 'Winfield, KS', 'Douglas, GA', 'New Castle, PA', 'Fergus Falls, MN', 'Freeport, IL', 'Tullahoma, TN', 'Hutchinson, MN', 'Seymour, IN', 'Blackfoot, ID', 'Boston, MA', 'Steamboat Springs, CO', 'Roswell, NM', 'Port Lavaca, TX', 'Paragould, AR', 'Breckenridge, CO', 'Bennington, VT', 'Coldwater, MI', 'Malone, NY', 'Alexandria, MN', 'York, PA', 'Tifton, GA', 'Hastings, NE', 'Waterloo, IA', 'Sterling, IL', 'Stephenville, TX', 'Parsons, KS', 'Bogalusa, LA', 'Alice, TX', 'San Antonio, TX', 'Spearfish, SD', 'Gillette, WY', 'Ruston, LA', 'Santa Maria, CA', 'Wilson, NC', 'Daphne, AL', 'Fairfield, IA', 'McAlester, OK', 'Watertown, NY', 'Kalamazoo, MI', 'Salem, OH', 'Meadville, PA', 'Cedar City, UT', 'Hood River, OR', 'Cordele, GA', 'Alamogordo, NM', 'Mitchell, SD', 'Helena, MT', 'Fitzgerald, GA', 'Norfolk, NE', 'Deltona, FL', 'Aberdeen, SD', 'Branson, MO', 'Santa Rosa, CA', 'Marion, NC', 'Moultrie, GA', 'Magnolia, AR', 'Lakeland, FL', 'Rio Grande City, TX', 'Tahlequah, OK', 'Ottumwa, IA', 'Scottsboro, AL', 'Provo, UT', 'Vineyard Haven, MA', 'Jackson, WY', 'Pullman, WA', 'Mount Gay, WV', 'Jamestown, ND', 'Ellensburg, WA', 'Providence, RI', 'Macon, GA', 'Forrest City, AR', 'Vincennes, IN', 'Manitowoc, WI', 'Clarksburg, WV', 'Marietta, OH'}