In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
%pwd

'/content'

In [3]:
from google.colab import drive
drive.mount('/content/drive/')
%ls

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
drive/  sample_data/

In [4]:
%cd drive/Shareddrives/Milestone_II_files/
%ls

/content/drive/Shareddrives/Milestone_II_files
housing-permits-main/

In [5]:
%cd housing-permits-main/
%ls

/content/drive/Shareddrives/Milestone_II_files/housing-permits-main
 citi_matches       msa/        README.md            zillow/
 citi_matches.csv   MSA.ipynb  'Standup 1.gslides'

In [6]:
%cd msa
%ls

/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa
msamonthly_201911.xls  msamonthly_202010.xls  msamonthly_202109.xls
msamonthly_201912.xls  msamonthly_202011.xls  msamonthly_202110.xls
msamonthly_202001.xls  msamonthly_202012.xls  msamonthly_202111.xls
msamonthly_202002.xls  msamonthly_202101.xls  msamonthly_202112.xls
msamonthly_202003.xls  msamonthly_202102.xls  msamonthly_202201.xls
msamonthly_202004.xls  msamonthly_202103.xls  msamonthly_202202.xls
msamonthly_202005.xls  msamonthly_202104.xls  msamonthly_202203.xls
msamonthly_202006.xls  msamonthly_202105.xls  msamonthly_202204.xls
msamonthly_202007.xls  msamonthly_202106.xls  msamonthly_202205.xls
msamonthly_202008.xls  msamonthly_202107.xls  msamonthly_202206.xls
msamonthly_202009.xls  msamonthly_202108.xls  msamonthly_202207.xls

In [7]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [8]:
import glob
%cd ..
msa_files = glob.glob(f"/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/*.xls")
msa_dfs = [pd.read_excel(f, skiprows=7)[1:] for f in msa_files]
print(msa_files)

/content/drive/Shareddrives/Milestone_II_files/housing-permits-main
['/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202107.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202012.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202008.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202103.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_201911.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202006.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202101.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_201912.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202111.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202206.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202201.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202112.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202110.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202104.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202003.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202102.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202011.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202207.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202001.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202108.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202009.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202105.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202005.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202202.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202007.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202109.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202203.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202205.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202002.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202106.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202010.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202004.xls', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/msa/msamonthly_202204.xls']

In [9]:
print(msa_dfs[0].columns)

msa_cols = ['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', 
            '3 and 4 Units','5 Units or More', 
            'Num of Structures With 5 Units or More']
msa_dfs = [df[msa_cols] for df in msa_dfs]

msa_dfs[0].head()

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More',
       'Monthly Coverage Percent*', 'Unnamed: 10', 'Total.1', '1 Unit.1',
       '2 Units.1', '3 and 4 Units.1', '5 Units or More.1',
       'Num of Structures With 5 Units or More.1'],
      dtype='object')

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More
1,999.0,10180.0,"Abilene, TX ...",23.0,23.0,0.0,0.0,0.0,0.0
2,184.0,10420.0,"Akron, OH ...",42.0,39.0,0.0,3.0,0.0,0.0
3,999.0,10500.0,"Albany, GA ...",21.0,9.0,0.0,0.0,12.0,1.0
4,440.0,10540.0,"Albany-Lebanon, OR ...",71.0,25.0,4.0,0.0,42.0,5.0
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",161.0,110.0,4.0,0.0,47.0,6.0

In [10]:
print(msa_dfs[0].columns)

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More'],
      dtype='object')

In [11]:
for df, name in zip(msa_dfs, msa_files):
  df['Date'] = name[name.rfind('_')+1:name.rfind('.')]

df.head()

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Date
1,999.0,10180.0,"Abilene, TX ...",21.0,19.0,2.0,0.0,0.0,0.0,202204
2,184.0,10420.0,"Akron, OH ...",107.0,79.0,0.0,7.0,21.0,3.0,202204
3,999.0,10500.0,"Albany, GA ...",18.0,18.0,0.0,0.0,0.0,0.0,202204
4,440.0,10540.0,"Albany-Lebanon, OR ...",45.0,27.0,0.0,0.0,18.0,3.0,202204
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",156.0,99.0,2.0,4.0,51.0,4.0,202204

In [12]:
permits_df = pd.concat(msa_dfs).dropna(axis = 1)

permits_df

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Date
1,999.0,10180.0,"Abilene, TX ...",23.0,23.0,0.0,0.0,0.0,0.0,202107
2,184.0,10420.0,"Akron, OH ...",42.0,39.0,0.0,3.0,0.0,0.0,202107
3,999.0,10500.0,"Albany, GA ...",21.0,9.0,0.0,0.0,12.0,1.0,202107
4,440.0,10540.0,"Albany-Lebanon, OR ...",71.0,25.0,4.0,0.0,42.0,5.0,202107
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",161.0,110.0,4.0,0.0,47.0,6.0,202107
...,...,...,...,...,...,...,...,...,...,...
380,999.0,49420.0,"Yakima, WA ...",91.0,38.0,8.0,11.0,34.0,3.0,202204
381,276.0,49620.0,"York-Hanover, PA ...",112.0,100.0,0.0,0.0,12.0,1.0,202204
382,566.0,49660.0,"Youngstown-Warren-Boardman, OH-PA ...",27.0,27.0,0.0,0.0,0.0,0.0,202204
383,472.0,49700.0,"Yuba City, CA ...",102.0,78.0,18.0,0.0,6.0,1.0,202204
384,999.0,49740.0,"Yuma, AZ ...",66.0,66.0,0.0,0.0,0.0,0.0,202204

In [21]:
ZHVI_files = glob.glob(f"/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/*.csv")
ZHVI_dfs = [pd.read_csv(f) for f in ZHVI_files]
print(ZHVI_files)

['/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_uc_condo_tier_0.33_0.67_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_bdrmcnt_5_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_uc_sfrcondo_tier_0.0_0.33_sm_sa_month.csv', '/content/drive/Shareddrives/Milestone_II_files/housing-permits-main/zillow/Metro_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv']

In [22]:
ZHVI_dfs = [df[df['RegionType']=='msa'] for df in ZHVI_dfs]
ZHVI_dfs[0].head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
1,394913,1,"New York, NY",msa,NY,398618.0,400989.0,403125.0,407346.0,411288.0,...,944392.0,949401.0,955581.0,963163.0,973716.0,985181.0,997357.0,1007381.0,1014851.0,1019097.0
2,753899,2,"Los Angeles, CA",msa,CA,412833.0,414349.0,416476.0,420539.0,424798.0,...,1459690.0,1475813.0,1494850.0,1516710.0,1547884.0,1582369.0,1612876.0,1617590.0,1615957.0,1595977.0
3,394463,3,"Chicago, IL",msa,IL,295109.0,295865.0,296827.0,298700.0,300646.0,...,464815.0,468835.0,472579.0,476171.0,481214.0,486852.0,493379.0,498309.0,501462.0,502214.0
4,394514,4,"Dallas, TX",msa,TX,231125.0,231200.0,231294.0,231544.0,231819.0,...,546482.0,556356.0,568739.0,582375.0,595125.0,610729.0,625328.0,638078.0,641222.0,639479.0
5,394692,5,"Houston, TX",msa,TX,226539.0,226746.0,226568.0,226884.0,226956.0,...,455285.0,460482.0,465816.0,472578.0,481148.0,490962.0,500094.0,506863.0,510726.0,512294.0

In [15]:
for df,f in zip(ZHVI_dfs, ZHVI_files):
  df['filename'] = f[f.rfind('/')+1:-4]
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,filename
1,394913,1,"New York, NY",msa,NY,200872.0,202035.0,203092.0,205186.0,207156.0,...,516725.0,520708.0,525420.0,531665.0,538231.0,545153.0,550812.0,555279.0,557365.0,Metro_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.6...
2,753899,2,"Los Angeles, CA",msa,CA,216135.0,216819.0,217952.0,220082.0,222426.0,...,820431.0,830676.0,842402.0,858899.0,877124.0,892552.0,893461.0,889739.0,875694.0,Metro_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.6...
3,394463,3,"Chicago, IL",msa,IL,146452.0,146746.0,147171.0,148024.0,148960.0,...,274632.0,277222.0,279721.0,282896.0,286113.0,289859.0,292626.0,294287.0,294448.0,Metro_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.6...
4,394514,4,"Dallas, TX",msa,TX,107433.0,107530.0,107608.0,107795.0,107973.0,...,296251.0,302409.0,309841.0,317017.0,325250.0,332647.0,339003.0,340982.0,340211.0,Metro_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.6...
5,394692,5,"Houston, TX",msa,TX,105235.0,105305.0,105185.0,105278.0,105280.0,...,242497.0,245559.0,249289.0,253919.0,259032.0,263795.0,267356.0,269602.0,270769.0,Metro_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.6...

In [16]:
ZHVI_df = pd.concat(ZHVI_dfs)

In [20]:
print(ZHVI_df.columns)

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31',
       ...
       '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31',
       '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
      dtype='object', length=326)

In [17]:
ZHVI_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,1999-03-31,1999-04-30,1999-05-31,1999-06-30,1999-07-31,1999-08-31,1999-09-30,1999-10-31,1999-11-30,1999-12-31
1,394913,1,"New York, NY",msa,NY,398618.0,400989.0,403125.0,407346.0,411288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,753899,2,"Los Angeles, CA",msa,CA,412833.0,414349.0,416476.0,420539.0,424798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,394463,3,"Chicago, IL",msa,IL,295109.0,295865.0,296827.0,298700.0,300646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,394514,4,"Dallas, TX",msa,TX,231125.0,231200.0,231294.0,231544.0,231819.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,394692,5,"Houston, TX",msa,TX,226539.0,226746.0,226568.0,226884.0,226956.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,753929,923,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,394743,924,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,753874,925,"Craig, CO",msa,CO,93118.0,93452.0,93996.0,94809.0,95628.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,394767,926,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,395188,927,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
for df in ZHVI_dfs:
  columns = df.columns.tolist()
  new_columns = []
  for column in columns:
    if column.startswith('2'):
      new_column = str(column)
      new_columns.append(new_column[:new_column.find('-')]+new_column[new_column.find('-')+1:new_column.rfind('-')])
    else: new_columns.append(column)
  df.columns = new_columns
  df.head()

In [18]:
ZHVI_msas = ZHVI_dfs[0]['RegionName'].unique().tolist()
msa_msas = msa_dfs[0]['Name'].str.strip().unique().tolist()


combo_list = [city for city in ZHVI_msas if city in msa_msas]
ZHVI_unique = [city for city in ZHVI_msas if city not in msa_msas]
msa_unique = [city for city in msa_msas if city not in ZHVI_msas]

print(ZHVI_unique)
print(msa_unique)

['New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Dallas, TX', 'Houston, TX', 'Washington, DC', 'Miami, FL', 'Philadelphia, PA', 'Atlanta, GA', 'Phoenix, AZ', 'Boston, MA', 'San Francisco, CA', 'Riverside, CA', 'Detroit, MI', 'Seattle, WA', 'Minneapolis, MN', 'San Diego, CA', 'Tampa, FL', 'Denver, CO', 'St. Louis, MO', 'Baltimore, MD', 'Charlotte, NC', 'Orlando, FL', 'San Antonio, TX', 'Portland, OR', 'Sacramento, CA', 'Las Vegas, NV', 'Austin, TX', 'Cincinnati, OH', 'Kansas City, MO', 'Indianapolis, IN', 'Cleveland, OH', 'San Jose, CA', 'Nashville, TN', 'Virginia Beach, VA', 'Providence, RI', 'Milwaukee, WI', 'Raleigh, NC', 'Memphis, TN', 'New Orleans, LA', 'Louisville, KY', 'Hartford, CT', 'Buffalo, NY', 'Birmingham, AL', 'Grand Rapids, MI', 'Omaha, NE', 'Worcester, MA', 'Bridgeport, CT', 'Greenville, SC', 'Albany, NY', 'McAllen, TX', 'North Port, FL', 'New Haven, CT', 'Allentown, PA', 'Oxnard, CA', 'Charleston, SC', 'Dayton, OH', 'Cape Coral, FL', 'Greensboro, NC', 'Little Rock, AR', 'Lakeland, FL', 'Des Moines, IA', 'Ogden, UT', 'Deltona, FL', 'Winston, NC', 'Provo, UT', 'Durham, NC', 'Augusta, GA', 'Palm Bay, FL', 'Harrisburg, PA', 'Spokane, WA', 'Chattanooga, TN', 'Scranton, PA', 'Fayetteville, AR', 'Lansing, MI', 'Portland, ME', 'Youngstown, OH', 'Lexington, KY', 'Myrtle Beach, SC', 'Pensacola, FL', 'Santa Rosa, CA', 'Killeen, TX', 'York, PA', 'Santa Maria, CA', 'Brownsville, TX', 'Salisbury, MD', 'Gulfport, MS', 'Manchester, NH', 'Canton, OH', 'Naples, FL', 'Shreveport, LA', 'Beaumont, TX', 'Eugene, OR', 'Davenport, IA', 'Hickory, NC', 'Trenton, NJ', 'Huntington, WV', 'South Bend, IN', 'Columbus, GA', 'Evansville, IN', 'Clarksville, TN', 'Roanoke, VA', 'Kingsport, TN', 'Kennewick, WA', 'Olympia, WA', 'Hagerstown, MD', 'Crestview, FL', 'Duluth, MN', 'Utica, NY', 'San Luis Obispo, CA', 'Bremerton, WA', 'Santa Cruz, CA', 'College Station, TX', 'Kalamazoo, MI', 'Norwich, CT', 'Atlantic City, NJ', 'Fort Smith, AR', 'Fargo, ND', 'Prescott Valley, AZ', 'Lafayette, IN', 'Macon, GA', 'Daphne, AL', 'Hilton Head Island, SC', 'Champaign, IL', 'Burlington, VT', 'Lebanon, NH', 'Lake Havasu City, AZ', 'Athens, GA', 'Houma, LA', 'Elkhart, IN', 'Hilo, HI', 'Torrington, CT', 'Yuba City, CA', 'Oshkosh, WI', "Coeur d'Alene, ID", 'Waterloo, IA', 'Kahului, HI', 'Blacksburg, VA', 'Auburn, AL', 'Tupelo, MS', 'Wausau, WI', 'Janesville, WI', 'Sebastian, FL', 'Chambersburg, PA', 'Elizabethtown, KY', 'Hanford, CA', 'Concord, NH', 'Traverse City, MI', 'Jefferson City, MO', 'Texarkana, TX', 'Florence, AL', 'London, KY', 'Vineland, NJ', 'Rocky Mount, NC', 'Ottawa, IL', 'Sioux City, IA', 'Logan, UT', 'Morristown, TN', 'Dalton, GA', 'Winchester, VA', 'Pottsville, PA', 'Sherman, TX', 'Wheeling, WV', 'La Crosse, WI', 'Napa, CA', 'Carbondale, IL', 'Eureka, CA', 'Albany, OR', 'Mount Vernon, WA', 'Lumberton, NC', 'Sierra Vista, AZ', 'Jamestown, NY', 'Goldsboro, NC', 'New Bern, NC', 'Augusta, ME', 'St. Joseph, MO', 'Mansfield, OH', 'Holland, MI', 'Bozeman, MT', 'Wooster, OH', 'Cookeville, TN', 'Weirton, WV', 'California, MD', 'Anniston, AL', 'Show Low, AZ', 'Roseburg, OR', 'Michigan City, IN', 'Lewiston, ME', 'Richmond, KY', 'Watertown, NY', 'Ogdensburg, NY', 'Sebring, FL', 'Tullahoma, TN', 'Kalispell, MT', 'Bluefield, WV', 'Whitewater, WI', 'Pinehurst, NC', 'LaGrange, GA', 'Salem, OH', 'Grand Forks, ND', 'Danville, VA', 'Truckee, CA', 'Victoria, TX', 'Moses Lake, WA', 'Sevierville, TN', 'Shelby, NC', 'Meridian, MS', 'Adrian, MI', 'Cape Girardeau, MO', 'Albertville, AL', 'Cumberland, MD', 'Ashtabula, OH', 'Paducah, KY', 'Brainerd, MN', 'Corning, NY', 'Clarksburg, WV', 'New Philadelphia, OH', 'Sunbury, PA', 'Hermiston, OR', 'Parkersburg, WV', 'Grants Pass, OR', 'Beaver Dam, WI', 'Lufkin, TX', 'Ukiah, CA', 'Zanesville, OH', 'Oak Harbor, WA', 'Russellville, AR', 'Orangeburg, SC', 'New Castle, PA', 'Watertown, WI', 'Cullman, AL', 'Laurel, MS', 'Athens, TX', 'Meadville, PA', 'Indiana, PA', 'Bloomsburg, PA', 'Helena, MT', 'Centralia, WA', 'Wilson, NC', 'Stillwater, OK', 'Opelousas, LA', 'Statesboro, GA', 'Seneca, SC', 'Talladega, AL', 'Plattsburgh, NY', 'Warsaw, IN', 'Manitowoc, WI', 'Searcy, AR', 'DuBois, PA', 'Glenwood Springs, CO', 'Port Angeles, WA', 'Heber, UT', 'Minot, ND', 'Chillicothe, OH', 'Keene, NH', 'Jefferson, GA', 'Auburn, NY', 'Aberdeen, WA', 'Olean, NY', 'Findlay, OH', 'Palatka, FL', 'Quincy, IL', 'Portsmouth, OH', 'Frankfort, KY', 'Key West, FL', 'Sandusky, OH', 'Shawnee, OK', 'Somerset, PA', 'Lake City, FL', 'Wisconsin Rapids, WI', 'Huntsville, TX', 'Kapaa, HI', 'Hobbs, NM', 'Mount Airy, NC', 'Greenwood, SC', 'Stevens Point, WI', 'Gallup, NM', 'Greeneville, TN', 'Morehead City, NC', 'Mount Pleasant, MI', 'Klamath Falls, OR', 'Roanoke Rapids, NC', 'Shelton, WA', 'North Wilkesboro, NC', 'Alamogordo, NM', 'Muskogee, OK', 'Faribault, MN', 'Forest City, NC', 'Farmington, MO', 'Marquette, MI', 'Richmond, IN', 'Somerset, KY', 'Athens, OH', 'Marion, IN', 'Marion, OH', 'Nacogdoches, TX', 'Roswell, NM', 'Coos Bay, OR', 'Red Bluff, CA', 'Clearlake, CA', 'Baraboo, WI', 'Rio Grande City, TX', 'Dublin, GA', 'Lewiston, ID', 'Georgetown, SC', 'Marinette, WI', 'Martinsville, VA', 'Mount Vernon, OH', 'Sanford, NC', 'Hutchinson, KS', 'Crossville, TN', 'Laconia, NH', 'Charleston, IL', 'Gillette, WY', 'Sturgis, MI', 'Sayre, PA', 'Marietta, OH', 'Salina, KS', 'Hudson, NY', 'Starkville, MS', 'Calhoun, GA', 'Fergus Falls, MN', 'Oneonta, NY', 'Ardmore, OK', 'Eagle Pass, TX', 'Fremont, OH', 'Barre, VT', 'Fernley, NV', 'Columbus, MS', 'Cullowhee, NC', 'Norwalk, OH', 'Palestine, TX', 'Rutland, VT', 'Fort Madison, IA', 'Gaffney, SC', 'Batavia, NY', 'Cedar City, UT', 'Kearney, NE', 'Durango, CO', 'Boone, NC', 'Point Pleasant, WV', 'Branson, MO', 'Fairmont, WV', 'Picayune, MS', 'Ontario, OR', 'Kinston, NC', 'Poplar Bluff, MO', 'St. Marys, GA', 'Waycross, GA', 'Batesville, AR', 'Elko, NV', 'Tiffin, OH', 'Edwards, CO', 'Jasper, IN', 'Danville, KY', 'Sterling, IL', 'Sonora, CA', 'Oxford, MS', 'Glasgow, KY', 'Payson, AZ', 'Warrensburg, MO', 'Athens, TN', 'Elizabeth City, NC', 'Milledgeville, GA', 'Rexburg, ID', 'Ashland, OH', 'Enterprise, AL', 'Jacksonville, TX', 'Kerrville, TX', 'Gloversville, NY', 'Fort Leonard Wood, MO', 'Bartlesville, OK', 'Douglas, GA', 'Scottsboro, AL', 'Alice, TX', 'Greenville, OH', 'Platteville, WI', 'Corsicana, TX', 'Newport, OR', 'Winona, MN', 'Oil City, PA', 'Rochelle, IL', 'Shelbyville, TN', 'Malone, NY', 'Paris, TX', 'Pullman, WA', 'Mason City, IA', 'Ellensburg, WA', 'Natchez, MS', 'Amsterdam, NY', 'Gardnerville Ranchos, NV', 'Galesburg, IL', 'Del Rio, TX', 'Tahlequah, OK', 'Durant, OK', 'Ozark, AL', 'Cadillac, MI', 'Clovis, NM', 'Sidney, OH', 'Morgan City, LA', 'Montrose, CO', 'Pahrump, NV', 'New Castle, IN', 'Fort Polk South, LA', 'Norfolk, NE', 'Ca-¦on City, CO', 'Kendallville, IN', 'Bemidji, MN', 'Blackfoot, ID', 'Cortland, NY', 'Mount Sterling, KY', 'Washington, NC', 'Sandpoint, ID', 'Nogales, AZ', 'Ruston, LA', 'Bardstown, KY', 'Clinton, IA', 'Red Wing, MN', 'Plymouth, IN', 'Lewistown, PA', 'Cornelia, GA', 'Mount Pleasant, TX', 'Marion, NC', 'Bogalusa, LA', 'Wapakoneta, OH', 'Hillsdale, MI', 'Paragould, AR', 'Moultrie, GA', 'Bedford, IN', 'Burley, ID', 'Menomonie, WI', 'Shawano, WI', 'Bellefontaine, OH', 'Burlington, IA', 'Harrison, AR', 'Vicksburg, MS', 'Henderson, NC', 'Madisonville, KY', 'Huntingdon, PA', 'Lawrenceburg, TN', 'Rolla, MO', 'Thomasville, GA', 'Rockingham, NC', 'Lewisburg, PA', 'Seymour, IN', 'Big Rapids, MI', 'Freeport, IL', 'McAlester, OK', 'Auburn, IN', 'Coldwater, MI', 'Ponca City, OK', 'Stephenville, TX', 'Willmar, MN', 'Duncan, OK', 'Cedartown, GA', 'Clewiston, FL', 'Rock Springs, WY', 'Aberdeen, SD', 'Sedalia, MO', 'Muscatine, IA', 'Okeechobee, FL', 'Mountain Home, AR', 'Wilmington, OH', 'El Campo, TX', 'McMinnville, TN', 'Gainesville, TX', 'Bucyrus, OH', 'Celina, OH', 'Big Stone Gap, VA', 'Moscow, ID', 'Tifton, GA', 'Astoria, OR', 'Bradford, PA', 'Selinsgrove, PA', 'Alma, MI', 'West Plains, MO', 'Austin, MN', 'Blytheville, AR', 'Garden City, KS', 'Marshalltown, IA', 'Riverton, WY', 'Murray, KY', 'Safford, AZ', 'McComb, MS', 'Urbana, OH', 'Laramie, WY', 'Warren, PA', 'Cambridge, OH', 'Pittsburg, KS', 'Hannibal, MO', 'Williston, ND', 'Espa-¦ola, NM', 'Arcadia, FL', 'Newberry, SC', 'Ada, OK', 'Crawfordsville, IN', 'Jacksonville, IL', 'Alexandria, MN', 'Sikeston, MO', 'El Dorado, AR', 'Lock Haven, PA', 'DeRidder, LA', 'Defiance, OH', 'Natchitoches, LA', 'Brownwood, TX', 'Greenwood, MS', 'Kill Devil Hills, NC', 'Logansport, IN', 'Scottsbluff, NE', 'Houghton, MI', 'Mount Vernon, IL', 'Sulphur Springs, TX', 'Easton, MD', 'Sault Ste. Marie, MI', 'Corinth, MS', 'Mayfield, KY', 'Bay City, TX', 'Campbellsville, KY', 'Dyersburg, TN', 'Owatonna, MN', 'Big Spring, TX', 'Vincennes, IN', 'Coshocton, OH', 'Huntington, IN', 'Newport, TN', 'Fremont, NE', 'Selma, AL', 'Jackson, WY', 'Vidalia, GA', 'Vernal, UT', 'Lebanon, MO', 'Decatur, IN', 'Brenham, TX', 'Hutchinson, MN', 'Emporia, KS', 'Escanaba, MI', 'Brookings, SD', 'North Platte, NE', 'Pontiac, IL', 'Bennington, VT', 'Peru, IN', 'Butte, MT', 'Lewisburg, TN', 'Ottumwa, IA', 'Angola, IN', 'Laurinburg, NC', 'Winfield, KS', 'Brevard, NC', 'Americus, GA', 'Watertown, SD', 'Effingham, IL', 'Seneca Falls, NY', 'Brookhaven, MS', 'Malvern, AR', 'Dixon, IL', 'Washington, IN', 'Dayton, TN', 'Columbus, NE', 'Martin, TN', 'Dodge City, KS', 'Dickinson, ND', 'Troy, AL', 'Plainview, TX', 'Taos, NM', 'Beeville, TX', 'Jackson, OH', 'Frankfort, IN', 'Madison, IN', 'Taylorville, IL', 'Paris, TN', 'Cambridge, MD', 'Juneau, AK', 'Mount Gay, WV', 'Las Vegas, NM', 'Coffeyville, KS', 'Hastings, NE', 'Berlin, NH', 'Miami, OK', 'Sheridan, WY', 'Wabash, IN', 'Kingsville, TX', 'Breckenridge, CO', 'Albert Lea, MN', 'Union City, TN', 'Jesup, GA', 'Susanville, CA', 'Kirksville, MO', 'Iron Mountain, MI', 'Mineral Wells, TX', 'Macomb, IL', 'Ludington, MI', 'Fort Morgan, CO', 'Kennett, MO', 'Hays, KS', 'Weatherford, OK', 'Washington Court House, OH', 'McPherson, KS', 'Elkins, WV', 'Lincoln, IL', 'Camden, AR', 'Alpena, MI', 'Van Wert, OH', 'Crescent City, CA', 'North Vernon, IN', 'Mountain Home, ID', 'Silver City, NM', 'Fredericksburg, TX', 'Wauchula, FL', 'Uvalde, TX', 'Greensburg, IN', 'La Grande, OR', 'Thomaston, GA', 'Bainbridge, GA', 'The Dalles, OR', 'Spearfish, SD', 'Toccoa, GA', 'Ottawa, KS', 'Great Bend, KS', 'Bennettsville, SC', 'Steamboat Springs, CO', 'Lexington, NE', 'Middlesborough, KY', 'Fallon, NV', 'Marshall, MN', 'Prineville, OR', 'New Ulm, MN', 'Summerville, GA', 'Mexico, MO', 'Indianola, MS', 'Forrest City, AR', 'Hailey, ID', 'Moberly, MO', 'Altus, OK', 'Deming, NM', 'Woodward, OK', 'Magnolia, AR', 'Brookings, OR', 'Mitchell, SD', 'Hood River, OR', 'Levelland, TX', 'Connersville, IN', 'Marshall, MO', 'Yankton, SD', 'Pampa, TX', 'Oskaloosa, IA', 'Wahpeton, ND', 'Arkadelphia, AR', 'Cordele, GA', 'Sterling, CO', 'Maryville, MO', 'Elk City, OK', 'Beatrice, NE', 'Worthington, MN', 'Raymondville, TX', 'Liberal, KS', 'Port Lavaca, TX', 'Borger, TX', 'Dumas, TX', 'Grenada, MS', 'Jamestown, ND', 'Pierre, SD', 'Evanston, WY', 'Othello, WA', 'Guymon, OK', 'Storm Lake, IA', 'Parsons, KS', 'Los Alamos, NM', 'Andrews, TX', 'Portales, NM', 'Fairfield, IA', 'Hereford, TX', 'Spirit Lake, IA', 'Vineyard Haven, MA', 'Helena, AR', 'Maysville, KY', 'Winnemucca, NV', 'Snyder, TX', 'Fitzgerald, GA', 'Pecos, TX', 'Atchison, KS', 'Spencer, IA', 'Sweetwater, TX', 'Vermillion, SD', 'Zapata, TX', 'Ketchikan, AK', 'Craig, CO', 'Lamesa, TX', 'Vernon, TX']
['Albany-Lebanon, OR', 'Albany-Schenectady-Troy, NY', 'Allentown-Bethlehem-Easton, PA-NJ', 'Anniston-Oxford, AL', 'Athens-Clarke County, GA', 'Atlanta-Sandy Springs-Alpharetta, GA', 'Atlantic City-Hammonton, NJ', 'Auburn-Opelika, AL', 'Augusta-Richmond County, GA-SC', 'Austin-Round Rock-Georgetown, TX', 'Baltimore-Columbia-Towson, MD', 'Beaumont-Port Arthur, TX', 'Birmingham-Hoover, AL', 'Blacksburg-Christiansburg, VA', 'Bloomsburg-Berwick, PA', 'Boston-Cambridge-Newton, MA-NH', 'Bremerton-Silverdale-Port Orchard, WA', 'Bridgeport-Stamford-Norwalk, CT', 'Brownsville-Harlingen, TX', 'Buffalo-Cheektowaga, NY', 'Burlington-South Burlington, VT', 'California-Lexington Park, MD', 'Canton-Massillon, OH', 'Cape Coral-Fort Myers, FL', 'Cape Girardeau, MO-IL', 'Chambersburg-Waynesboro, PA', 'Champaign-Urbana, IL', 'Charleston-North Charleston, SC', 'Charlotte-Concord-Gastonia, NC-SC', 'Chattanooga, TN-GA', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Cincinnati, OH-KY-IN', 'Clarksville, TN-KY', 'Cleveland-Elyria, OH', 'Coeur dAlene, ID', 'College Station-Bryan, TX', 'Columbus, GA-AL', 'Crestview-Fort Walton Beach-Destin, FL', 'Cumberland, MD-WV', 'Dallas-Fort Worth-Arlington, TX', 'Daphne-Fairhope-Foley, AL', 'Davenport-Moline-Rock Island, IA-IL', 'Dayton-Kettering, OH', 'Deltona-Daytona Beach-Ormond Beach, FL', 'Denver-Aurora-Lakewood, CO', 'Des Moines-West Des Moines, IA', 'Detroit-Warren-Dearborn, MI', 'Duluth, MN-WI', 'Durham-Chapel Hill, NC', 'Elizabethtown-Fort Knox, KY', 'Elkhart-Goshen, IN', 'Eugene-Springfield, OR', 'Evansville, IN-KY', 'Fargo, ND-MN', 'Fayetteville-Springdale-Rogers, AR-MO', 'Florence-Muscle Shoals, AL', 'Fort Smith, AR-OK', 'Grand Forks, ND-MN', 'Grand Rapids-Kentwood, MI', 'Greensboro-High Point, NC', 'Greenville-Anderson, SC', 'Gulfport-Biloxi, MS', 'Hagerstown-Martinsburg, MD-WV', 'Harrisburg-Carlisle, PA', 'Hartford-East Hartford-Middletown, CT', 'Hickory-Lenoir-Morganton, NC', 'Hilton Head Island-Bluffton, SC', 'Houma-Thibodaux, LA', 'Houston-The Woodlands-Sugar Land, TX', 'Huntington-Ashland, WV-KY-OH', 'Indianapolis-Carmel-Anderson, IN', 'Janesville-Beloit, WI', 'Kahului-Wailuku-Lahaina, HI', 'Kalamazoo-Portage, MI', 'Kansas City, MO-KS', 'Kennewick-Richland, WA', 'Killeen-Temple, TX', 'Kingsport-Bristol, TN-VA', 'La Crosse-Onalaska, WI-MN', 'Lafayette-West Lafayette, IN', 'Lake Havasu City-Kingman, AZ', 'Lakeland-Winter Haven, FL', 'Lansing-East Lansing, MI', 'Las Vegas-Henderson-Paradise, NV', 'Lewiston, ID-WA', 'Lewiston-Auburn, ME', 'Lexington-Fayette, KY', 'Little Rock-North Little Rock-Conway, AR', 'Logan, UT-ID', 'Los Angeles-Long Beach-Anaheim, CA', 'Louisville-Jefferson County, KY-IN', 'Macon-Bibb County, GA', 'Manchester-Nashua, NH', 'McAllen-Edinburg-Mission, TX', 'Memphis, TN-MS-AR', 'Miami-Fort Lauderdale-Pompano Beach, FL', 'Michigan City-La Porte, IN', 'Milwaukee-Waukesha, WI', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'Mount Vernon-Anacortes, WA', 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC', 'Naples-Marco Island, FL', 'Nashville-Davidson--Murfreesboro--Franklin, TN', 'New Haven-Milford, CT', 'New Orleans-Metairie, LA', 'New York-Newark-Jersey City, NY-NJ-PA', 'North Port-Sarasota-Bradenton, FL', 'Norwich-New London, CT', 'Ogden-Clearfield, UT', 'Olympia-Lacey-Tumwater, WA', 'Omaha-Council Bluffs, NE-IA', 'Orlando-Kissimmee-Sanford, FL', 'Oshkosh-Neenah, WI', 'Oxnard-Thousand Oaks-Ventura, CA', 'Palm Bay-Melbourne-Titusville, FL', 'Parkersburg-Vienna, WV', 'Pensacola-Ferry Pass-Brent, FL', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'Phoenix-Mesa-Chandler, AZ', 'Portland-South Portland, ME', 'Portland-Vancouver-Hillsboro, OR-WA', 'Poughkeepsie-Newburgh-Middletown, NY', 'Prescott Valley-Prescott, AZ', 'Providence-Warwick, RI-MA', 'Provo-Orem, UT', 'Raleigh-Cary, NC', 'Riverside-San Bernardino-Ontario, CA', 'Sacramento-Roseville-Folsom, CA', 'Salisbury, MD-DE', 'San Antonio-New Braunfels, TX', 'San Diego-Chula Vista-Carlsbad, CA', 'San Francisco-Oakland-Berkeley, CA', 'San Jose-Sunnyvale-Santa Clara, CA', 'San Luis Obispo-Paso Robles, CA', 'Santa Cruz-Watsonville, CA', 'Santa Maria-Santa Barbara, CA', 'Santa Rosa-Petaluma, CA', 'Scranton--Wilkes-Barre, PA', 'Seattle-Tacoma-Bellevue, WA', 'Sebastian-Vero Beach, FL', 'Shreveport-Bossier City, LA', 'Sierra Vista-Douglas, AZ', 'Sioux City, IA-NE-SD', 'South Bend-Mishawaka, IN-MI', 'Spokane-Spokane Valley, WA', 'St. Joseph, MO-KS', 'St. Louis, MO-IL', 'Tampa-St. Petersburg-Clearwater, FL', 'Texarkana, TX-AR', 'Trenton-Princeton, NJ', 'Utica-Rome, NY', 'Vineland-Bridgeton, NJ', 'Virginia Beach-Norfolk-Newport News, VA-NC', 'Washington-Arlington-Alexandria, DC-VA-MD-WV', 'Waterloo-Cedar Falls, IA', 'Watertown-Fort Drum, NY', 'Wausau-Weston, WI', 'Weirton-Steubenville, WV-OH', 'Wheeling, WV-OH', 'Winchester, VA-WV', 'Winston-Salem, NC', 'Worcester, MA-CT', 'York-Hanover, PA', 'Youngstown-Warren-Boardman, OH-PA']

In [19]:
print(len(combo_list))
print(len(ZHVI_unique))
print(len(msa_unique))

204
688
164

In [20]:
for item in msa_unique:
  state = item[-2:]
  for city in ZHVI_unique:
    if city[-2:] == state:
      continue
      # print(item)
      # print(city)
      # print()

In [21]:
ZHVI_state_dictionary = {}
for city in ZHVI_unique:
  if city[-2:] not in ZHVI_state_dictionary.keys():
    ZHVI_state_dictionary[city[-2:]] = [city]
  else:
    ZHVI_state_dictionary[city[-2:]].append(city)


# for key in ZHVI_state_dictionary.keys():
#   print(ZHVI_state_dictionary[key])

In [32]:
print(ZHVI_state_dictionary['NJ'])

['Trenton, NJ', 'Atlantic City, NJ', 'Vineland, NJ']

In [22]:
msa_state_dictionary = {}
for city in msa_unique:
  if city[-2:] not in msa_state_dictionary.keys():
    msa_state_dictionary[city[-2:]] = [city]
  else:
    msa_state_dictionary[city[-2:]].append(city)

In [23]:
multi_state_msa = [city for city in msa_msas if '-' in city]

In [26]:
def split_cities(l):
  individual_cities = []
  multis = []
  for cities in l:
    c,s = cities.split(',')
    cs = c.split('-')
    ss = s.split('-')

    for c in cs:
      for s in ss:
        city = c + ', ' + s.strip()
        individual_cities.append(city)
        multis.append(cities)
  return individual_cities, multis

In [27]:
ind_cities, multis = split_cities(multi_state_msa)

# for item in ind_cities:
#   print(item)

In [35]:
cities_dict = {}
combo_cities = []
matched_cities = []
for city,combo in zip(ind_cities,multis):
  try:
    if city in ZHVI_state_dictionary[city[-2:]]:
      matched_cities.append(city)
      combo_cities.append(combo)
      cities_dict[combo] = city
  except: continue

In [39]:
permits_df.head()

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Date,RegionName
1,999.0,10180.0,"Abilene, TX ...",23.0,23.0,0.0,0.0,0.0,0.0,202107,NaN
2,184.0,10420.0,"Akron, OH ...",42.0,39.0,0.0,3.0,0.0,0.0,202107,NaN
3,999.0,10500.0,"Albany, GA ...",21.0,9.0,0.0,0.0,12.0,1.0,202107,NaN
4,440.0,10540.0,"Albany-Lebanon, OR ...",71.0,25.0,4.0,0.0,42.0,5.0,202107,NaN
5,104.0,10580.0,"Albany-Schenectady-Troy, NY ...",161.0,110.0,4.0,0.0,47.0,6.0,202107,NaN

In [34]:
ZHVI_dfs[0].head()

,RegionID,SizeRank,RegionName,RegionType,StateName,200001,200002,200003,200004,200005,...,202111,202112,202201,202202,202203,202204,202205,202206,202207,202208
1,394913,1,"New York, NY",msa,NY,398618.0,400989.0,403125.0,407346.0,411288.0,...,944392.0,949401.0,955581.0,963163.0,973716.0,985181.0,997357.0,1007381.0,1014851.0,1019097.0
2,753899,2,"Los Angeles, CA",msa,CA,412833.0,414349.0,416476.0,420539.0,424798.0,...,1459690.0,1475813.0,1494850.0,1516710.0,1547884.0,1582369.0,1612876.0,1617590.0,1615957.0,1595977.0
3,394463,3,"Chicago, IL",msa,IL,295109.0,295865.0,296827.0,298700.0,300646.0,...,464815.0,468835.0,472579.0,476171.0,481214.0,486852.0,493379.0,498309.0,501462.0,502214.0
4,394514,4,"Dallas, TX",msa,TX,231125.0,231200.0,231294.0,231544.0,231819.0,...,546482.0,556356.0,568739.0,582375.0,595125.0,610729.0,625328.0,638078.0,641222.0,639479.0
5,394692,5,"Houston, TX",msa,TX,226539.0,226746.0,226568.0,226884.0,226956.0,...,455285.0,460482.0,465816.0,472578.0,481148.0,490962.0,500094.0,506863.0,510726.0,512294.0

In [30]:
city_df = pd.DataFrame()
city_df['multi'] = combo_cities
city_df['corresponding'] = matched_cities

city_df.to_csv('citi_matches.csv', index = False)

In [29]:
!pip install -U -q PyDrive
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)




# # choose a local (colab) directory to store the data.
# local_download_path = os.path.expanduser('~/data')
# try:
#   os.makedirs(local_download_path)
# except: pass

# # 2. Auto-iterate using the query syntax
# #    https://developers.google.com/drive/v2/web/search-parameters
# file_list = drive.ListFile(
#     {'q': "'1SooKSw8M4ACbznKjnNrYvJ5wxuqJ-YCk' in parents"}).GetList()

# for f in file_list:
#   # 3. Create & download by id.
#   print('title: %s, id: %s' % (f['title'], f['id']))
#   fname = os.path.join(local_download_path, f['title'])
#   print('downloading to {}'.format(fname))
#   f_ = drive.CreateFile({'id': f['id']})
#   f_.GetContentFile(fname)